<h2>
    Задание 1
</h2>
<h2>
    Добавьте к уже существующему приложению «Персональная
    страница» pipes. Используйте CurrencyPipe, PercentPipe.
</h2>

<span>{{ currency1 | currency: 'RUB':'symbol-narrow' }}</span>
<span>=</span>
<span>{{ currency2 | currency: 'EUR':'symbol-narrow' }}</span>

<div>{{ percent1 | percent:'4.0-5' }}</div>
<div>{{ percent2 | percent }}</div>

<h2>
    Задание 2
</h2>
<h2>
    Добавьте к уже существующему приложению «Персональная
    страница» использование директив ngIf, ngSwitch, ngFor.
</h2>

@if (currency1 > 0) {
    <h2>
        {{ currency1 | currency: 'RUB':'symbol-narrow' }} больше 0
    </h2>
} @else {
    <p>
        {{ currency1 | currency: 'RUB':'symbol-narrow' }} меньше или равно 0
    </p> 
}

@switch (day) {
    @case (1) {
        <span>Понедельник</span>
    }
    
    @case (2) {
        <span>Вторник</span>
    }

    @case (3) {
        <span>Среда</span>
    }

    @case (4) {
        <span>Четверг</span>
    }

    @case (5) {
        <span>Пятница</span>
    }

    @case (6) {
        <span>Суббота</span>
    }

    @case (7) {
        <span>Воскресенье</span>
    }

    @default {
        <span>Нет такого дня недели</span>
    }
  }

<ul>
    <div>List of students WEB31:</div>
    @for (student of students; track student) {
        <li> {{ student }} </li>
      } @empty {
        <li> There are no items. </li>
      }
</ul>


